.Border {
padding: 0.5px;
border-bottom: 5px solid;
border-color: green;
}
.Title {
background-image: url("http://i.imgur.com/OL0qLPU.jpg");
padding: 80px;
}
.Title h1 {
color: White;
float: right;
margin-right: 50%;
}
.WebpageMiddle {
background-color: #FCF5EB;
padding: 400px;
}
