* {
margin: 0px;
padding: 0px;
}
.body {
margin: 0px;
padding: 0px;
border: 0px;
}
.Border {
padding: 0.5px;
border-bottom: 5px solid;
border-color: green;
}
.Title {
background-image: url("http://i.imgur.com/OL0qLPU.jpg");
padding: 80px;
}
.Title h1 {
color: White;
float: right;
margin-right: 50%;
}
.WebpageMiddle {
background-color: #FCF5EB;
padding: 400px;
}
#wrap {
width: 100%;
}
.button1 {
padding: 100px;
width: 150px;
background-image: url("http://i.imgur.com/OL0qLPU.jpg");
font-family: Impact, fantasy;
font-size: 40px;
color: white;
float: left;
}
.button2 {
padding: 100px;
width: 150px;
background-image: url("http://i.imgur.com/OL0qLPU.jpg");
font-family: Impact, fantasy;
font-size: 40px;
color: white;
float: right;
}



