* {
margin: 0px;
padding: 0px;
}
.body {
margin: 0px;
padding: 0px;
border: 0px;
}
.Title {
padding: 80px;
}
.Title img {
color: White;
float: right;
margin-right: 40%;
}
.banner{
margin-top: 20%;
background-image: url("http://i.imgur.com/OL0qLPU.jpg");
padding: 120px;

}
.WebpageMiddle {
background-color: #FCF5EB;
padding: 400px;
}
#wrap {
width: 100%;
}
.button1 {
padding: 0px;
font-family: Impact, fantasy;
font-size: 40px;
color: white;
float: left;
}
.button1:hover {
padding: 20px;
background: orange;
}
.button2 {
padding: 0px;
font-family: Impact, fantasy;
font-size: 40px;
color: white;
float: right;
}
.button2:hover {
padding: 20px;
background: orange;
}


